<div class="row">
  <div class="col-8">
    <table class="table table-hover">
      <thead class="table-primary">
      <tr>
        <th>#</th>
        <th>Author</th>
        <th>Title</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of (books$ | async); index as i"
          (click)="selectBook(book)"
          [class.table-active]="isBookSelected(book)">
        <td>{{i + 1}}</td>
        <td>{{book.author}}</td>
        <td>{{book.title}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <ba-book-details *ngIf="selectedBook"
                     [book]="selectedBook"
                     (bookChange)="updateBook($event)"
    ></ba-book-details>
  </div>
</div>
